@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white dark:bg-gray-950 text-gray-900 dark:text-gray-100;
  }

  ::selection {
    @apply bg-blue-600/20;
  }
}
